
.DS_Store
04-homework/.env
07-homework/licensing/licfile.csv
10-homework/.env
04-homework/02 - Dark Sky API (Weather).ipynb
10-homework/Homework 10 - Servers and cron jobs.ipynb
10-homework/.ipynb_checkpoints/Homework 10 - Servers and cron jobs-checkpoint.ipynb
